# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.piopm/

# VS Code
.vscode/

# Build Files
*.o
*.d
*.elf
*.bin
*.hex
*.map

# Windows
Thumbs.db
desktop.ini

# Logs
*.log
*.cache

# Python
__pycache__/
*.pyc